.heroSection{
    width: 90%;
    margin: 0 auto;
    min-height: 70vh;
    display: grid;
    grid-template-columns: 38% 60%;
    align-items: center;
    justify-items: center;
    gap: 3rem;
}

.heroSection h1{
    color: var(--secondary-color);
    font-size: var(--hero-text);
    font-weight: 600;
}

.heroSection small{
    color: var(--secondary-color);
    font-size: var(--small-text);
    font-weight: normal;
}

.heroLeft{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 90%;
}

.heroImage img{
    width: 100%;
    height: auto;
}

.heroSection .buttons{
    margin: 15px 0 0;
    display: flex;
    gap: 2.5rem;
}

.whatWeDo{
    width: 80%;
    margin: 100px auto;
}

.colored{
    color: var(--primary-color);
}

.boxes{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    margin-top: 10px;
}

.boxes .hero{
    font-size: var(--hero-text);
}

.box{
    background: var(--primary-color);
    height: auto;
    width: auto;
    padding: 40px;
    border-radius: 15px;
    color: var(--white);
}

.box p{
    font-size: var(--small-text);
}