@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --primary-color: #ff2e2e;
    --secondary-color: #38516d;
    --white: #ffffff;
    --black: #000000;
    --light-blue: #f2f9ff;
    --biro-blue:#008EEF;
    --custard:#fff2c7;
    --section-padding: 5% 5% 3%;
    --border-radius: 10px;
    --hero-text: 47px;
    --sub-text:35px;
    --sub-title: 25px;
    --small-text: 18px;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    transition: all .8s ease-in-out;
    scroll-behavior: smooth;
}

body{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}